#b1{
	background-image: url(https://d2ofqe7l47306o.cloudfront.net/games/1920x1080/elden-ring-10.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#b2{
	background-image: url(https://th.bing.com/th/id/R.a4338012e9f9d95a7d66d6ea11ec9626?rik=BfrBwHZfMnUbEQ&pid=ImgRaw&r=0);
	background-repeat: no-repeat;
	background-size: cover;
}
#b3{
	background-image: url(https://images.gamewatcherstatic.com/image/file/5/b9/98605/social-og.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#title{
	font-family: 'Sacramento', cursive;
	font-size: 3em;
	color: #212b19;
    width: 230px;
    height: 50px;
    border: 21px groove #212b19;
    padding: 52px dashed #eff488;
    margin: 20px;
    text-shadow: 10px 5px 3px #eff488;
}
.gif1{
	width: 80px;
	height: 50px;
}
#p1{
	color: black;
	font-size: 20px;
}
p{
	color:whitesmoke;
	font-size: 20px;
}
.pic{
	height: 200px;
	width: 320px;
	margin: 26px;
}
#hb{
	width: 50px;
    height: 20px;
    border: 8px groove #eff488;
    color: white
}
#ca{

}
table,th,td{
	color: white;
	border: solid #c8cb92;
	border-collapse: collapse;
	font-size: 1.2em;
}
.bar{
	text-decoration: none;
	color: white;
	margin-top: 50px;
	margin-bottom: 80px;
	height: 100px;
}
.bar:hover{
	background-color: darkolivegreen;

}
ul{
	margin-left: -40px;
	margin-bottom: 40px;
	height: 21px;
	width: 105%;
}
.column{
	float: left;
	width: 33%;
	text-align: center;
}
nav{
	background-color: black;
	top: 0;
	left: 0;

}
#producer{
	color: white;
}
h2{
	color: white;
}
.column2{
	float: left;
	width: 50%;
	text-align: center;}
.bar3{
		text-decoration: none;
	color: white;
	margin-top: 50px;
	margin-bottom: 80px;
	height: 100px;
}
.bar3:hover{
	background-color: darkolivegreen;